ipykernel
python-dotenv
jupyter
langgraph
langchain
langchain_core
langchain_anthropic
langchain_community
langchain_experimental
langchain-nomic 
langchain_openai
langchain_nomic
langgraph 
langchainhub 
python-dotenv
pyowm
langchainhub
langsmith
requests
pandas
matplotlib
chromadb
tiktoken 
chromadb 
tavily-python 
nomic[local]
graphviz
psycopg2